<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                 <h3 class="panel-title">About</h3>

            </div>
            <div class="panel-body">
                <p> Botanizer is a rare plant species reporting challenge and a way to find rare plants located around you. It's a free app perfect to take on a bushwalk or use for a school activity. </p>

                <p> Points are awarded for uploading photos, correctly identifying plant species, and entering a description about the plant. The ultimate aim is to become a Botaniser!</p>

                <p> Species reports are entered by the general public and uploaded after being vetted. If the report is correct, the uploader scores points and works their way towards becoming a Botaniser. </p>
                <p>Botaniser was created on 13th July 2014 by four aspiring Botanisers from Perth, Western Australia.
                    </p>
                <img src="https://biodata-storage.s3.amazonaws.com/static/images/chid_photo.gif" alt="Chid" class="img-circle" width="100" /> Chid Gilovitz

                <div class="well">
                    <p> Chid is a botanist and plant biologist who specialises in data management and spatial analysis. He currently works as an independent botanical consultant in Western Australia. With experience in the environmental consultancy industry, and in scientific and data management roles in the WA Department of Environment and Conservation, Chid brings a commitment to scientific integrity to his work.</p>
                </div>
<img src="http://m.c.ctrl.licdn.com/mpr/mpr/shrink_200_200/p/6/000/1bb/0b0/2b3ccf8.jpg" alt="Yoni" class="img-circle" width="100" /> Yoni Jah

                <div class="well">
                    <p> Yoni is a senior web developer with experience in PHP back end and using some of the newest JavaScript and HTML 5 APIs. Yoni has previously worked with teams to create facebook performance marketing systems and web based system to store organization legal documents.  </p>
                </div>
                <img src="https://dl.dropboxusercontent.com/u/37793595/P6280074.jpg" alt="Rebecca" class="img-circle" width="100" /> Rebecca Dracup

                <div class="well">
                    <p> Rebecca is finishing a double degree in environmental engineering and economics. Rebecca started learning how to code through maintaining the Engineers Without Borders webpages for her university. Rebecca's passion for plants stems from identification games she used to play with family on bushwalks. </p>
                </div>

                <img src="http://m.c.ctrl.licdn.com/media/p/2/000/012/27f/320024f.jpg" alt="Herdy" class="img-circle" width="100" /> Herdy Handoko

                <div class="well">
                    <p> Herdy is a web technology evangelist a.k.a. a business analyst. Herdy has an in-depth domain knowledge on web technologies. Herdy specialHerdy specialises in System Analysis, Agile Methods, Enterprise Content Management, Web Content Management, Web Application Development, Web Standards, User Interface and Usability (UX). </p>

        </div>
    </div>
</div>