
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title> - jsFiddle demo</title>
  
  <script type='text/javascript' src='/js/lib/dummy.js'></script>
  
  
  
  
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  
    
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
    
  
    
      <link rel="stylesheet" type="text/css" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    
  
  <style type='text/css'>
    
  </style>
  


<script type='text/javascript'>//<![CDATA[ 
window.onload=function(){

}//]]>  

</script>


</head>
<body>
  <!-- Panel-->
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                 <h3 class="panel-title">About</h3>

            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>
                        <p class="lead">How to score points </p>
                        <p>To score points upload photos of species. Additional points for species' names and a description</p></li>
                    <li>
                        <p class="lead">Points system </p>
                        <p>Rarity Index x (Photo + Species Name + Description)</p>

          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Occurence Count</th>
                <th>Rarity Index</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1-2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>3-7</td>
                <td>2</td>
              </tr>
              <tr>
                <td>>7</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
                         <p>Photo = 20 points. Species Name = 10 points. Description = 10 points</p>
                    </li>
                    <li>
                        <p class="lead">Player Profile</p>
                        <p>To create a player profile click<button type="button" class="btn btn-link">here</button>.</p>
                        </li>
                    <li>
                        <p class="lead">Where does the data come from?</p>
                        <p>We use scientific species information from Atlas of Living Australia.</p>
                        </li>
                    <li>
                        <p class="lead">How far do we search?</p>
                        <p>We search for species up to 10km away from your location. If no records are found, the search expands to a larger area.</p>
                        </li>
                </ul>
            </div>
        </div>
    </div>
</div>
  
</body>


</html>

