
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title> - jsFiddle demo</title>
  
  <script type='text/javascript' src='/js/lib/dummy.js'></script>
  
  
  
  
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  
    
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
    
  
    
      <link rel="stylesheet" type="text/css" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    
  
  <style type='text/css'>
    
  </style>
  


<script type='text/javascript'>//<![CDATA[ 
window.onload=function(){

}//]]>  

</script>


</head>
<body>
  <!-- Panel-->
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                 <h3 class="panel-title"><i class="fa fa-star fa-lg"></i> Leaderboard</h3>

            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Ginny</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Malfoy</td>
                            <td>19</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Harry</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Hermione</td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Ron</td>
                            <td>17</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
  
</body>


</html>

