<!-- About button -->
<div class="main">
    <div class="text-center">
            <img src="images/logo.jpg" width="160" alt="Photo of flora" class="img-circle center-block"></img>
    </div>
    <!-- Title -->

    <h1 class="text-center text-uppercase">Botaniser</h1>

    <!-- Buttons -->
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-3">
            <a href="#/nearMe" type="button" class="btn btn-lg btn-warning">Near Me</a>
        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-3">
            <a href="#/report" type="button" class="btn btn-lg btn-success">Report</a>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>