<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-9">
        <img src="https://dl.dropboxusercontent.com/u/37793595/P1060442.jpg" width="160" alt="Photo of flora" class="img-circle"></img>
    </div>

</div>

<h1 class="text-center text-uppercase">Botaniser</h1>

<div class="row">
    <div class="col-xs-2 col-md-1"></div>
    <div class="col-xs-3 col-md-2">
        <a href="#/nearMe" type="button" class="btn btn-lg btn-warning">Near Me</a>
    </div>
    <div class="col-xs-1 col-md-1"></div>
    <div class="col-xs-3 col-md-2">
        <button type="button" class="btn btn-lg btn-success">Report</button>
    </div>
    <div class="col-xs-6 col-md-4"></div>
</div>
