
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title> - jsFiddle demo</title>
  
  <script type='text/javascript' src='/js/lib/dummy.js'></script>
  
  
  
  
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  
    
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
    
  
    
      <link rel="stylesheet" type="text/css" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    
  
  <style type='text/css'>
    
  </style>
  


<script type='text/javascript'>//<![CDATA[ 
window.onload=function(){

}//]]>  

</script>


</head>
<body>
  <div class="row">
    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                 <h3 class="panel-title"><i class="fa fa-map-marker fa-lg"></i> Species Near You</h3>

            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Species Name</th>
                            <th>Rarity Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="https://dl.dropboxusercontent.com/u/37793595/P1060442.jpg" width="70" class="img-thumbnail" alt="Responsive image"></img>
                            </td>
                            <td>Mark Hairiatus</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="https://dl.dropboxusercontent.com/u/37793595/P1060442.jpg" width="70" class="img-thumbnail" alt="Responsive image"></img>
                            </td>
                            <td>Jacob Jelsinging</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="https://dl.dropboxusercontent.com/u/37793595/P1060442.jpg" width="70" class="img-thumbnail" alt="Responsive image"></img>
                            </td>
                            <td>Larry Hipocratius</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <button type="button" class="btn btn-lg btn-success">Report a Find</button>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-link">About Botaniser</button>
  
</body>


</html>

