
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title> - jsFiddle demo</title>
  
  <script type='text/javascript' src='/js/lib/dummy.js'></script>
  
  
  
  
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  
    
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
    
  
    
      <link rel="stylesheet" type="text/css" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    
  
  <style type='text/css'>
    
  </style>
  


<script type='text/javascript'>//<![CDATA[ 
window.onload=function(){

}//]]>  

</script>


</head>
<body>
  <!-- Panel-->
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                 <h3 class="panel-title">My Profile</h3>

            </div>
            <div class="panel-body">
                <i class="fa fa-facebook-square fa-5x"></i> 
                <h3>Judy Cullity</h3>
                <h3><small>Points: 20</small></h3>
                <h3><small><i class="fa fa-trophy"></i> Bontaniser status: Banksia serrata</small></h3>
                <h3><small> <i class="fa fa-star"></i> Position on leaderboard: 40th</small></h3>
                <h3><small>My species reports</small></h3>
                <img src="https://dl.dropboxusercontent.com/u/37793595/GVD-1080653.jpg" class="img-thumbnail" alt="Report3"></img>
                    <img src="https://dl.dropboxusercontent.com/u/37793595/P1060302.jpg" class="img-thumbnail" alt="Report2"></img>
                        <img src="https://dl.dropboxusercontent.com/u/37793595/P1060442.jpg" class="img-thumbnail" alt="Orchids"></img>
            </div>
        </div>
    </div>
</div>
  
</body>


</html>

