
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title> - jsFiddle demo</title>
  
  <script type='text/javascript' src='/js/lib/dummy.js'></script>
  
  
  
  
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  
    
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
    
  
    
      <link rel="stylesheet" type="text/css" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    
  
  <style type='text/css'>
    
  </style>
  


<script type='text/javascript'>//<![CDATA[ 
window.onload=function(){

}//]]>  

</script>


</head>
<body>
  <!-- Panel-->
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                 <h3 class="panel-title">Report</h3>

            </div>
            <div class="panel-body">
                <img src="https://dl.dropboxusercontent.com/u/37793595/P1060442.jpg"alt="Photo taken by explorer" class="img-thumbnail">
                <form role="form">
                    <div class="form-group">
                        <label for="SpeciesName">Name</label>
                        <input class="form-control" id="SpeciesName" placeholder="Enter species name">
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                            <textarea class="form-control" rows="3" id="Description" placeholder="Examples: size, local habitat, and interactions with bees or other animals. Max. 400 words"></textarea>
                    </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
  
</body>


</html>

