
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title> - jsFiddle demo</title>
  
  <script type='text/javascript' src='/js/lib/dummy.js'></script>
  
  
  
  
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  
    
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
    
  
    
      <link rel="stylesheet" type="text/css" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    
  
  <style type='text/css'>
    
  </style>
  


<script type='text/javascript'>//<![CDATA[ 
window.onload=function(){

}//]]>  

</script>


</head>
<body>
  <!-- Panel-->
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                 <h3 class="panel-title"><i class="fa fa-leaf fa-lg"></i>   Profile</h3>

            </div>
            <div class="panel-body">
                 <h3><small>Orchidaceae</small></h3>
                <h6><small>Occurance count: 8</small></h6>

                <!-- Scrolling Photos -->
                <div class="well">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="https://dl.dropboxusercontent.com/u/37793595/P1060442.jpg" alt="First slide" class="img-thumbnail"></img>
                        </div>
                        <div class="item">
                            <img src="https://dl.dropboxusercontent.com/u/37793595/P1060302.jpg" alt="Second slide" class="img-thumbnail"></img>
                        </div>
                        <div class="item">
                            <img src="https://dl.dropboxusercontent.com/u/37793595/GVD-1080653.jpg" alt="Third slide" class="img-thumbnail"></img>
                        </div>
                    </div> <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
 <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
</div>
               <!-- Species Description-->
                    <h5> Description </h5>
                    <p>Orchidaceae is a diverse and widespread family of flowering plants with blooms that are often colourful and often fragrant, commonly known as the orchid family. Along with the Asteraceae, they are one of the two largest families of flowering plants, with between 21,950 and 26,049 currently accepted species, found in 880 genera.</p>
                </div>
                
<!-- Map-->
              <img src="http://www.hotelsaccommodation.com.au/images/maps/Highett-Victoria.gif" alt="Map showing locations of species" class="img-responsive"></img>
                <br></br>
                <!-- Report Button-->
                <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <button type="button" class="btn btn-lg btn-success">Report a Find</button>
            </div>
        </div>
                <button type="button" class="btn btn-sm btn-link">About Botaniser</button>
  
</body>


</html>

